@font-face {
  font-family: 'Roboto Regular';
  src: url("~fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  src: url("~fonts/Noto_Sans/NotoSans-Regular.ttf");
}

@font-face {
  font-family: 'Minecraft';
  font-weight: 400;
  src: url("~fonts/Minecraft/minecraft.ttf");
}
