content {
  width: 100%;
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  position: absolute;
  will-change: top;
}

@media (max-width: 1150px) {
  content {
    height: 400px;
  }
}
@media (max-width: 875px) {
  content {
    height: 350px;
  }
}
@media (max-width: 580px) {
  content {
    height: 300px;
  }
}
