h1 {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  color: #ececec;
  padding: 0;
  margin: 0;
  z-index: 2;
  font-weight: 600;
  font-size: 50px;
  text-shadow: 3px 3px 3px #000000;
  text-transform: uppercase;
  font-family: "Minecraft",sans-serif;
  position: absolute;
  height: 100px;
  background-image: url('/images/logo.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size .2s ease-out;
}

@media (max-width: 1150px) {
  h1 {
    top: calc(100% - 70px);
  }
}
@media (max-width: 875px) {
  h1 {
    top: calc(100% - 70px);
    background-size: 90%;
  }
}
@media (max-width: 580px) {
  h1 {
    top: calc(100% - 70px);
    background-size: 90%;
  }
}
